body {
	font-family: 'Montserrat', sans-serif;
}

header {
	background: #BBBBBB;
	padding: 20px 0;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 110px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #C78C19;
	text-decoration: underline;
}

.produtos {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}

.produtos li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
}

.produtos li:hover {
	border-color: #C78C19;
}

.produtos li:active {
	border-color: #088C19;	
}

.produtos li:hover h2 {
	font-size: 34px;
}

.produtos h2 {
	font-size: 30px;
	font-weight: bold;
}

.produto-descricao {
	font-size: 18px;
}

.produto-preco {
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
}

footer {
	text-align: center;
	background: url("bg.jpg");
	padding: 40px 0;
}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0 0;
}

main {
/*	width: 940px;
	margin: 0 auto;    */
}

form {
	margin: 40px 0;
}

form label, form legend {
	display:block;
	font-size: 20px;
	margin: 0 0 10px;
}

.input-padrao {
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;
}

.checkbox {
	margin: 20px 0;
}

.enviar {
	width:40%;
	padding: 15px 0;
	background: orange;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
}

.enviar:hover {
	background: darkorange;
	transform: scale(1.2);
}

table {
	margin: 20px 0 40px;
}

thead {
	background: #555555;
	color: white;
	font-weight: bold;
}

td, th {
	border: 1px solid #000000;
	padding: 8px 15px;
}

/* CSS da p치gina inicial */
.banner {
	width: 100%;
}

.titulo-principal {
	text-align: center;
	font-size: 2em; /*2x o tamanho padr칚o em pixels*/
	margin: 0 0 1em; /*1x o tamanho padr칚o referente ao 2x o t칤tulo principal*/
	clear: left; /*vai limpar o erro de formata칞칚o do float, pra linha abaixo n칚o sobrepor*/
}

.titulo-principal:first-letter {
	font-weight: bold;
}

/*p:first-line {
	font-style: italic;
} deixar치 a primeira linha de todos os par치grafos em it치lico, para fins editoriais*/

.titulo-principal:before {
	content: "[ "; /*Elemento textual n칚o selecion치vel (pois n칚o est치 no html) e exclusivo do CSS*/
}
.titulo-principal:after {
	content: " ]";
}

.principal {
	padding: 3em 0;
	background: #FEFEFE;
	width: 940px;
	margin: 0 auto;
}

.principal p { /*CSS vai atuar sobre a classe .principal && os marcadores de par치grafo p*/
	margin: 0 0 1em; 	
}

.principal strong {
	font-weight: bold;	
}

.principal em {
	font-style: italic;
}

.utensilios {
	width: 120px;
	/* Como posicionar a imagem no cantinho com o texto em volta? O DISPLAY (de inline para inline-block) n칚o resolve, pois ter칤amos que mudar todos os par치grafos e ir칤amos alterar o elemento padr칚o. POSITION (relativo no ponto inicial no superior esquerdo, e andar com a imagem. absolute seria em rela칞칚o  p치gina, mas a imagem iria 'levantar' e desolcar do texto.) Vamos usar FLOAT = deslocar da p치gina ('levantado') mas o espa칞o continua sendo ocupado. 
	*/
	float: left;
	margin: 0 20px 20px 0; /*up, right, down, left*/
}

.mapa {
	padding: 3em 0; /*up-down left-right*/
	/*background: red;
	width: 940px;
	margin: 0 auto;
	background: linear-gradient(orange, blue);
	background: linear-gradient(45deg, orange, blue, red, black); dire칞칚o degrees
	background: radial-gradient(orange, blue, red, black); auto % cores */ 
	background: linear-gradient(#FEFEFE, #888888);
}

.mapa-conteudo {
	width: 940px;
	margin: 0 auto;
}

.mapa p {
	margin: 0 0 2em; /*up right down*/
	text-align: center;
}

.beneficios {
	padding: 3em 0; /*up-down left-right*/
	background: #888888; 
	/*width: 940px;
	margin: 0 auto; pois j치 temos abaixo a largura do elemento e o carregamento no meio do v칤deo*/
}

.conteudo-beneficios {
	width: 640px;
	margin: 0 auto;
}

.lista-beneficios {
	width: 40%;
	display: inline-block; /*lista = inline, mas item 칠 elemento block e ocupa 100% largura MAS DETALHE o display: inline-block precisa ESTAR COLADO entre elementos da lista e a imagem, ou seja, <ul>...</ul><img> na mesma linha*/ 
	vertical-align: top;
}

.itens {
	line-height: 1.5em; /*Espa칞amento entre linhas*/

}

.itens:first-child { /*Podemos usar um pseudo-elemento pra marcar sem alterar o html com nova classe, com :first-child :last-child :nth-child(n) onde n 칠 o elemento com base inicial 1*/
	font-weight: bold;
}

.itens:before {
	content: "游릙"
}

.imagem-beneficios {
	width: 60%;
}

.video {
	width: 560px;
	margin: 2em auto; /*1 espa칞o cima-baixo e auto nas laterais=centro*/
}
/*
main p {
	background: red; /*Esse CSS iria deixar todos os p's do main em vermelho, mas queremos apenas um elemento P, ignorando os demais 
}*/

main > p {
	background: red; /*Vai pegar o elemento FILHO-DIRETO da main, ou seja, o P, e n칚o os NETOS-DIRETOS da main, que s칚o os demais p'ss*/
}

img + p {
	background: blue; /*Imagem com Par치grafo irm칚o, ou seja, que vem ao lado/logo ap칩s, no caso IMG e com um P logo ap칩s, nessa ordem...*/
}

img ~ p {
	background: yellow; /*Imagem com Par치grafo irm칚o, ou seja, que vem ao lado/logo ap칩s...*/
}

.principal p:not(#missao) {
	background: orange; /*Todos os par치grafos de principal EXCETO o id#missao...*/
}